<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tangent Solutions Assignment | @ViewBag.Title</title>

    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/simple-line-icons.css" rel="stylesheet" />
    <link href="~/css/animate.css" rel="stylesheet" />
    <link href="~/css/main.css" rel="stylesheet" />
    <link href="~/css/clndr.css" rel="stylesheet" />

    <script src="~/js/modernizr-2.6.2.js"></script>
    <script src="~/js/html5shiv.min.js"></script>
    <script src="~/js/respond.min.js"></script>


</head>
<body>
    <section id="main-wrapper" class="theme-default">

        @Html.Partial("_Header")
        @Html.Partial("_LeftSideBar")

        <section class="main-content-wrapper">
            @RenderBody()
        </section>

    </section>

    @Html.Partial("_RightSideBar")

    <script src="~/js/jquery-1.10.2.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/plugins/navgoco/jquery.navgoco.min.js"></script>
    <script src="~/js/plugins/pace/pace.min.js"></script>
    <script src="~/js/plugins/moment.min.js"></script>
    <script src="~/js/plugins/calendar/clndr.js"></script>
    <script src="~/js/plugins/calendar/clndr-demo.js"></script>
    <script src="~/js/plugins/calendar/underscore-min.js"></script>
    <script src="~/js/src/app.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
